.top-nav {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 95px;
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  padding: 1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  color: #c8ac48;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 96px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

footer .line-top {
  border-top: solid 1px #cfcdd3;
  padding-top: 20px;
}

footer .direitos {
  color: #9e9da0;
  display: inline;
  text-align: left;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
}

footer .box-footer {
  margin: 25px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .box-footer p {
  color: #636363;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

footer .box-footer .redes-sociais .fab {
  padding: 8px;
  font-size: 22px;
  color: #000;
}

footer .box-footer .txt-destaque::after {
  width: 40px;
  height: 2px;
  background: #c8ac48;
  margin: 25px 0px;
  display: block;
  content: "";
}

footer .box-footer .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

.leia-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  border: 1px #c8ac48 solid;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

.leia-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.ler-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  border: 1px #c8ac48 solid;
  text-decoration: none;
}

.ler-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

h2 {
  font-family: 'Cambria Regular';
}

h3 {
  font-family: 'Playfair Display', serif;
}

h5 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cambria Regular';
}

.navbar {
  padding: 0 !important;
}

.topbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 23px;
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  z-index: 999;
}

.logo {
  padding: 0px 45px;
}

.noticiaspage-container::before {
  background: #c8ac48;
  width: 50px;
  height: 1px;
  content: "";
  display: block;
  margin: 60px 5px;
  position: absolute;
  left: 50px;
}

.page h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  font-weight: lighter;
  margin-left: 70px;
  margin-top: 70px;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

.noticias {
  background: #f7f7f7;
  padding: 50px 0px;
}

.noticias h5 {
  color: #636363;
  font-family: 'Playfair Display', serif;
}

.noticias p {
  color: #9e9da0;
  font-weight: 500;
}

.noticias .noticia .content-noticia {
  margin-top: 25px;
}

.noticias .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 10px;
  left: 30px;
}

.noticias .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -26.5px;
  margin-bottom: -15px;
}

.noticias .txt-destaque h2 {
  font-size: 30px;
  font-family: 'Cambria Regular';
  margin-bottom: 45px;
}

.noticias .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.noticias .ler-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
}

.noticias .ler-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.page .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  font-weight: lighter;
  margin-left: 70px;
  margin-top: 70px !important;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

.quem-somos {
  display: block;
}

.quem-somos .pic {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 705px;
}

.quem-somos .txt-destaque {
  display: block;
  text-align: center;
  color: #c8ac48;
  font-size: 35px;
  font-weight: lighter;
  line-height: 15px;
  padding: 15px 15px;
  font-family: "Playfair Display", serif;
}

.quem-somos .txt-introduction {
  padding: 10% 3% 0% 6%;
}

.quem-somos .txt-introduction p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.guides-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 30px;
  text-align: center;
  padding: 95px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.guides-title .fa {
  display: block;
  font-size: 50px;
  margin-bottom: 25px;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-family: 'Cambria Regular';
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

h2 {
  font-family: 'Cambria Regular';
}

h3 {
  font-family: 'Playfair Display', serif;
}

h5 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cambria Regular';
}

.page {
  display: table;
  position: relative;
  width: 100vw;
  height: 250px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.4)), to(rgba(25, 25, 25, 0.4))), url(../img/intro.jpg) no-repeat center center fixed;
  background: linear-gradient(to right, rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.4)), url(../img/intro.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 95px;
}

.page::before {
  display: block;
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  margin: 80px 50px;
  background: #c8ac48;
}

.carousel-inner .txt-fullbanner::before {
  background: #c8ac48;
  width: 120px;
  height: 2px;
  content: "";
  display: block;
  margin: 10px;
  position: absolute;
}

.carousel-inner .txt-fullbanner h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

.carousel-inner .txt-fullbanner h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  font-weight: lighter;
  margin-left: 140px;
  margin-bottom: 40px;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

.carousel-inner .carousel-caption {
  position: absolute;
  right: 18%;
  top: 25%;
  left: 6%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.carousel-inner .carousel-caption .leia-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 20px;
  padding: 15px 30px;
  margin-top: 60px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.carousel-inner .carousel-caption .leia-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.carousel {
  background-color: rgba(114, 113, 116, 0.4) !important;
  z-index: 10;
  width: 100%;
}

.nav-link {
  display: block;
  float: left;
  text-align: left;
  top: 0;
  padding: 5px 10px 5px 21px;
  color: #f6f6f6;
  font-size: 17px;
}

.nav-link a:active {
  color: #c8ac48;
}

.nav-link a:hover {
  color: #c8ac48;
}

.info-container::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 39px -10px;
  position: absolute;
  left: 73px;
}

.info {
  margin: 60px 0px;
}

.info p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.info .txt-destaque h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-family: 'Cambria Regular';
}

.info .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
}

.pratica-container::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 93px 5px;
  position: absolute;
  left: 73px;
}

.area-pratica {
  margin: auto;
  padding: 25px 0;
  background-color: #f7f7f7;
}

.area-pratica h2 {
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.area-pratica p {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
}

.area-pratica .box-not {
  display: inline-block;
  margin: 35px 0 0 140px;
  width: 60%;
}

.area-pratica .box-not .icon {
  margin-bottom: 10px;
}

.area-pratica .txt-destaque {
  margin-top: 60px;
}

.area-pratica .txt-destaque h2 {
  font-size: 28px;
  font-family: 'Cambria Regular';
}

.area-pratica .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.area-pratica .leia-mais {
  float: right;
}

.noticias-container::before {
  background: #c8ac48;
  width: 50px;
  height: 2px;
  content: "";
  display: block;
  margin: 60px 25px;
  position: absolute;
  left: 50px;
}

.noticias {
  background: #fff;
  margin: 50px 0px;
}

.noticias h5 {
  color: #636363;
  font-family: 'Playfair Display', serif;
}

.noticias p {
  color: #9e9da0;
  font-weight: 500;
}

.noticias .noticia .content-noticia {
  margin-top: 25px;
}

.noticias .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 10px;
  left: 30px;
}

.noticias .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -26.5px;
  margin-bottom: -15px;
}

.noticias .txt-destaque h2 {
  font-size: 30px;
  font-family: 'Cambria Regular';
  margin-bottom: 45px;
}

.noticias .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

#carousel-brief .carousel-caption {
  position: absolute;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  top: 70px;
}

#carousel-brief .carousel-caption .icon-carousel {
  margin-bottom: 40px;
  left: 70px;
}

#carousel-brief .carousel-caption .txt-destaque {
  right: 300px;
  margin-top: 10px;
  position: absolute;
}

#carousel-brief .carousel-caption .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  font-family: myriad-pro, sans-serif;
}

#carousel-brief .carousel-caption .brief-content {
  color: #D9D9D9;
  font-size: 16px;
  text-align: center;
  font-family: 'Cambria Regular';
  position: relative;
  left: 8%;
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 65%;
  }
}
/*# sourceMappingURL=layout.css.map */