.top-nav {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  color: #FFF;
  height: 95px;
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  padding: 1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}

.menu li a:hover {
  color: #c8ac48;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 60px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -11px;
}

.menu-button::after {
  content: '';
  margin-top: -35px;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 67px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle ~ .menu li a {
    display: none;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li a {
    display: block;
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

@media (min-width: 1400px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu li {
    margin: 0 1rem;
  }
  .menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
  }
  .menu li a:hover {
    color: #c8ac48;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
  }
}

footer .line-top {
  border-top: solid 1px #cfcdd3;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

footer .direitos {
  color: #9e9da0;
  display: inline;
  text-align: left;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
}

footer .box-footer {
  margin: 25px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .box-footer p {
  color: #636363;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

footer .box-footer .redes-sociais .fab {
  padding: 8px;
  font-size: 22px;
  color: #000;
}

footer .box-footer .txt-destaque {
  margin: 0;
}

footer .box-footer .txt-destaque::after {
  width: 40px;
  height: 2px;
  background: #c8ac48;
  margin: 25px 0px;
  display: block;
  content: "";
}

footer .box-footer .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 764px) {
  footer .col-md-3:nth-child(2) {
    display: none;
  }
  footer .box-footer {
    margin: 25px 0;
    width: 100%;
    display: inline-block;
  }
  footer .box-footer .txt-destaque::after {
    width: 40px;
    height: 2px;
    background: #c8ac48;
    margin: 10px 20px;
    display: block;
    content: "";
  }
  footer .box-footer .txt-destaque h3 {
    color: #c8ac48;
    font-size: 20px;
    padding: 15px 0px;
    font-weight: 400;
    margin: 0px 0 0 20px;
    line-height: 15px;
    font-family: "Playfair Display", serif;
  }
  footer .box-footer p {
    padding: 0px 20px;
  }
  footer .box-footer .redes-sociais {
    padding: 0 20px;
  }
}

.leia-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  border: 1px #c8ac48 solid;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

.leia-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.ler-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  border: 1px #c8ac48 solid;
  text-decoration: none;
}

.ler-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

h2 {
  font-family: 'Cambria Regular';
}

h3 {
  font-family: 'Playfair Display', serif;
}

h5 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cambria Regular';
}

.navbar {
  padding: 0 !important;
}

.topbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 23px;
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  z-index: 999;
}

.logo {
  padding: 0px 45px;
}

.noticias {
  background: #f7f7f7;
  padding: 25px;
}

.noticias .box-news {
  padding: 15px;
  margin-right: 0 !important;
  margin-bottom: 25px !important;
}

.noticias h5 {
  color: #636363;
  font-family: 'Playfair Display', serif;
}

.noticias p {
  color: #9e9da0;
  font-weight: 500;
  max-height: 75px;
}

.noticias .noticia {
  padding: 20px;
}

.noticias .noticia .content-noticia {
  margin-top: 25px;
}

.noticias .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 10px;
  left: 30px;
}

.noticias .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -26.5px;
  margin-bottom: -15px;
}

.noticias .txt-destaque h2 {
  font-size: 30px;
  font-family: 'Cambria Regular';
  margin-bottom: 45px;
}

.noticias .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.noticias .ler-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 25px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
}

.noticias .ler-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

@media (max-width: 764px) {
  .top-nav {
    height: 65px !important;
  }
  .navbar-brand img {
    width: 65%;
  }
  .logo {
    padding: 0;
  }
  .logo img {
    width: 85%;
  }
  .noticias {
    background: #fff;
    margin: 0 15px;
    padding: 25px;
  }
  .noticias .ler-mais {
    display: inline-block;
    color: #fff;
    background-color: #c8ac48;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 35px;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
    text-decoration: none;
  }
  .noticias .mobile-notice {
    margin: 0;
  }
  .noticias .box-news {
    margin-top: 15px;
  }
  .noticias .txt-destaque h2 {
    margin: 10px 0;
  }
  .noticias .txt-destaque h3 {
    margin: 15px 0;
  }
}

.quem-somos {
  display: block;
}

.quem-somos .col-lg-6 {
  padding-right: 0;
  padding-left: 0;
}

.quem-somos .pic1 {
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
}

.quem-somos .pic2 {
  padding-left: 0;
  padding-right: 0;
}

.quem-somos .txt-destaque {
  display: block;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  font-weight: lighter;
  line-height: 15px;
  padding: 15px 15px;
  font-family: "Playfair Display", serif;
}

.quem-somos .txt-destaque::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 18px -30px;
  position: absolute;
}

.quem-somos .txt-destaque h2 {
  font-size: 30px;
  color: #000;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.quem-somos .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 10px 25px 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.quem-somos .txt-introduction {
  margin: 0;
  padding: 10px 40px;
  text-align: justify;
}

.quem-somos .txt-introduction p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-family: 'Cambria Regular';
}

.quem-somos .txt-introduction2 {
  margin: 0;
  padding: 100px 40px;
  text-align: justify;
}

.quem-somos .txt-introduction2 p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-family: 'Cambria Regular';
}

.quem-somos .guides-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 30px;
  text-align: center;
  padding: 95px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quem-somos .guides-title .fa {
  display: block;
  font-size: 50px;
  margin-bottom: 25px;
  margin-bottom: 25px;
  margin-bottom: 25px;
}

#values {
  text-align: center;
}

#values .txt-destaque {
  text-align: left;
  margin: 50px 50px 0;
}

#values .txt-destaque::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 8px -45px;
  position: absolute;
  left: 50px;
}

#values .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

#values .txt-destaque h3 h2 {
  font-size: 20px;
  color: #000;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

#values .txt-destaque p {
  color: #9e9da0;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

#values .value-top::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 99px 50px;
  position: absolute;
  left: 410px;
}

#values .value-top::after {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: -2px 43px;
  position: absolute;
  right: 380px;
}

#values .value-top .icon-value-top {
  width: 7%;
  margin: 25px 0 0;
}

#values .values-descritions {
  margin: auto;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

#values .values-descritions p {
  color: #9e9da0;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
}

#values .values-descritions-bottom {
  margin: auto;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

#values .values-descritions-bottom p {
  color: #9e9da0;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 20px;
}

#values .values-work {
  text-align: left;
}

#values .values-work .img-values {
  margin: 0 10px;
  width: 30%;
}

#values .values-work .img-values-bottom {
  width: 25%;
}

#values .values-work .img-values-bottom p {
  color: #9e9da0;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

#values .box-not {
  text-align: justify;
  margin: 25px 0 0 50px;
}

.txt-destaque {
  text-align: left;
  margin: 50px 50px 0;
}

.txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.txt-destaque h3 h2 {
  font-size: 20px;
  color: #000;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.txt-destaque li {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
  display: contents;
  position: relative;
  padding: 0px 0px 7px 30px;
}

.txt-destaque p {
  color: #9e9da0;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

.lider {
  margin: auto;
  padding: 0;
}

#img-lider {
  background-image: url(./assets/img/equipe.jpg);
  min-height: 100%;
  position: relative;
}

#img-lider .txt-destaque {
  display: block;
  color: #c8ac48;
  font-size: 30px;
  margin: 0;
  font-weight: lighter;
  line-height: 15px;
  padding: 15px 15px;
  font-family: "Playfair Display", serif;
  margin: 55px 40px 0;
}

#img-lider .txt-destaque h2 {
  font-size: 40px;
  color: #fff;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

#img-lider .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 764px) {
  .quem-somos {
    padding: 15px;
  }
  .quem-somos .txt-introduction {
    padding: 25px 30px;
  }
  .values .txt-destaque {
    margin-top: 25px;
  }
  #parallaxBar {
    height: 650px;
  }
  #parallaxBar .txt-parallax::before {
    width: 45px !important;
  }
  #parallaxBar .txt-parallax::before h2 {
    padding-left: 0 !important;
    padding: 15px 55px !important;
  }
  #parallaxBar .txt-parallax::before h3 {
    line-height: 0 !important;
    font-size: 14px !important;
  }
}

.contato {
  margin: 50px 0 100px;
}

.contato input {
  display: block;
  height: 46px;
  margin-bottom: 32px;
  width: 100%;
  font-size: 14px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  color: #878787;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

.contato h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-left: 65px;
  line-height: 40px;
  font-family: "Playfair Display", serif;
}

.contato h2::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 22px 40px;
  position: absolute;
  left: -20px;
}

.contato textarea {
  width: 100%;
  border: 1px solid #DEDEDE;
  margin-bottom: 0;
  font-size: 14px;
  height: 202px;
}

.contato .btn-text {
  display: inline-block;
  color: #fff;
  border: solid 1px #c8ac48;
  background-color: #c8ac48;
  font-size: 20px;
  padding: 15px 30px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.contato .btn-text:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.contato .info-contact li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  padding: 15px 0px;
}

.contato .info-contact .icon {
  float: left;
  margin-right: 15px;
  font-size: 25px;
  color: #c8ac48;
  line-height: 1;
}

.equipe {
  padding: 25px;
}

.equipe .box-team {
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  padding: 25px;
  background: #f7f7f7;
}

.equipe .box-team .img-fluid:hover {
  background-image: url(../../img/equipe/vitor-grey.png);
}

.equipe .box-team .img-equipe:hover {
  display: block;
}

.equipe .box-team h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  margin: 0;
  line-height: 15px;
  padding-bottom: 20px;
  margin-left: 55px;
  font-family: 'Playfair Display', serif;
}

.equipe .box-team h4::before {
  display: block;
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  margin: 9px -55px;
  background: #c8ac48;
}

.equipe .box-team h5 {
  padding-top: 10px;
  color: #000;
}

.equipe .box-team p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.content-pratica {
  margin: auto;
  padding: 25px 0;
  text-align: left;
  background-color: #f7f7f7;
}

.content-pratica h2 {
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.content-pratica p {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
}

.content-pratica .box-not {
  display: inline-block;
  margin: 24px;
  width: 100%;
}

.content-pratica .box-not .icon {
  margin-bottom: 10px;
  float: left;
  padding-right: 20px;
}

.content-pratica .box-not h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-left: 65px;
  line-height: 40px;
  font-family: "Playfair Display", serif;
}

.content-pratica .box-not h2::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 22px 40px;
  position: absolute;
  left: 73px;
}

.content-pratica .leia-mais {
  float: right;
}

@media (max-width: 764px) {
  .content-pratica .box-not {
    margin: 0;
    text-align: center;
  }
  .content-pratica .box-not .icon {
    padding-right: 0;
    margin: 25px 0 0;
    float: none;
  }
  .content-pratica .box-not h2 {
    font-size: 16px;
    margin-left: 90px;
  }
  .content-pratica .box-not h2::before {
    left: 0;
    margin: 20px 35px;
  }
  .content-pratica .box-not h2 p {
    font-size: 16px;
    margin: 0 35px;
    text-align: left;
  }
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-family: 'Cambria Regular';
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page .txt-destaque {
  display: block;
  color: #c8ac48;
  font-size: 35px;
  margin: 0;
  font-weight: lighter;
  line-height: 15px;
  padding: 15px 15px;
  font-family: "Playfair Display", serif;
  margin: 55px 40px 0;
}

.page .txt-destaque h2 {
  font-size: 40px;
  color: #fff;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.page .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

#parallaxBar {
  height: 590px;
  background-color: #004c82;
  background: url(../img/lider.png) 50% 0 fixed;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

#parallaxBar .txt-parallax {
  left: 30px;
  background: #000;
  bottom: 30px;
  position: absolute;
  width: 80%;
  opacity: 0.9;
}

#parallaxBar .txt-parallax::before {
  display: none;
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  margin: 25px 20px;
  background: #c8ac48;
}

#parallaxBar .txt-parallax h2 {
  color: #c8ac48;
  padding-top: 5px;
  font-size: 35px;
  padding-left: 135px;
  font-family: 'Playfair Display', serif;
}

#parallaxBar .txt-parallax h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 40px;
  margin: 0;
  color: #fff;
  line-height: 40px;
  padding-bottom: 25px;
  padding-left: 35px;
  font-family: 'Cambria Regular', serif;
}

#parallaxBar .txt-parallax li {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
  display: contents;
  position: relative;
  padding: 0px 0px 7px 30px;
}

#parallaxBar .txt-parallax p {
  color: #9e9da0 !important;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

h2 {
  font-family: 'Cambria Regular';
}

h3 {
  font-family: 'Playfair Display', serif;
}

h5 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cambria Regular';
}

.page {
  display: table;
  position: relative;
  width: 100vw;
  height: 200px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.4)), to(rgba(25, 25, 25, 0.4))), url(../img/intro.jpg) no-repeat center center fixed;
  background: linear-gradient(to right, rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.4)), url(../img/intro.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 65px;
}

.page::before {
  display: block;
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  margin: 80px 50px;
  background: #c8ac48;
}

.carousel-inner .carousel-control-next,
.carousel-inner .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  opacity: .5;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

.carousel-inner .txt-fullbanner::before {
  background: #c8ac48;
  width: 120px;
  height: 2px;
  content: "";
  display: block;
  margin: 20px 0;
  position: absolute;
}

.carousel-inner .txt-fullbanner h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

.carousel-inner .txt-fullbanner h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  font-weight: lighter;
  margin-left: 140px;
  margin-bottom: 40px;
  line-height: 40px;
  font-family: "Playfair Display", serif;
}

.carousel-inner .carousel-caption {
  position: absolute;
  right: 18%;
  top: 25%;
  left: 6%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.carousel-inner .carousel-caption .leia-mais {
  display: inline-block;
  color: #fff;
  background-color: #c8ac48;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 60px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.carousel-inner .carousel-caption .leia-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.carousel {
  background-color: rgba(114, 113, 116, 0.4) !important;
  z-index: 10;
  width: 100%;
}

.nav-link {
  display: block;
  float: left;
  text-align: left;
  top: 0;
  padding: 5px 10px 5px 21px;
  color: #f6f6f6;
  font-size: 17px;
}

.nav-link a:active {
  color: #c8ac48;
}

.nav-link a:hover {
  color: #c8ac48;
}

.info-container::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 112px -10px;
  position: absolute;
  left: 73px;
}

.info {
  padding: 75px 0;
}

.info p {
  color: #9e9da0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.info .img-fluid {
  max-width: 650px;
}

.info .txt-destaque h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-family: 'Cambria Regular';
}

.info .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
}

.pratica-container::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 93px 5px;
  position: absolute;
  left: 73px;
}

.area-pratica {
  margin: auto;
  padding: 25px 0;
  background-color: #f7f7f7;
}

.area-pratica h2 {
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

.area-pratica p {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
}

.area-pratica .box-not {
  display: inline-block;
  margin: 35px 0 0 140px;
  width: 60%;
}

.area-pratica .box-not .icon {
  margin-bottom: 10px;
}

.area-pratica .txt-destaque {
  margin-top: 60px;
}

.area-pratica .txt-destaque h2 {
  font-size: 28px;
  font-family: 'Cambria Regular';
}

.area-pratica .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.area-pratica .leia-mais {
  float: right;
}

.noticias-container::before {
  background: #c8ac48;
  width: 50px;
  height: 2px;
  content: "";
  display: block;
  margin: 8px -35px;
  position: absolute;
  left: 50px;
}

.noticias {
  background: #fff;
  margin: 50px 0px;
}

.noticias h5 {
  color: #636363;
  font-family: 'Playfair Display', serif;
}

.noticias p {
  color: #9e9da0;
}

.noticias .img-news:hover {
  -webkit-filter: blur(1px) brightness(0.8);
          filter: blur(1px) brightness(0.8);
}

.noticias .noticia .content-noticia {
  margin-top: 25px;
}

.noticias .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 20px;
  left: 25px;
}

.noticias .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -26.5px;
  margin-bottom: -15px;
}

.noticias .txt-destaque h2 {
  font-size: 30px;
  font-family: 'Cambria Regular';
  margin-bottom: 45px;
}

.noticias .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

#carousel-brief .carousel-caption .txt-destaque {
  text-align: center !important;
}

#carousel-brief .carousel-caption .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Playfair Display", sans-serif;
}

#carousel-brief .carousel-control-next,
#carousel-brief .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  opacity: .5;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

#carousel-brief .carousel-caption {
  position: absolute;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  top: 70px;
  left: 40px;
  right: 40px;
}

#carousel-brief .carousel-caption .icon-carousel {
  margin-bottom: 40px;
  display: block;
  text-align: center;
}

#carousel-brief .carousel-caption .brief-content {
  color: #D9D9D9;
  font-size: 16px;
  text-align: center;
  font-family: 'Cambria Regular';
  position: relative;
}

#news-public {
  background: #f7f7f7;
}

#news-public .page .txt-destaque {
  display: block;
  color: #c8ac48;
  font-size: 35px;
  margin: 0;
  font-weight: lighter;
  line-height: 15px;
  padding: 15px 15px;
  font-family: "Playfair Display", serif;
  margin: 55px 40px 0;
}

#news-public .page .txt-destaque h2 {
  font-size: 40px;
  color: #fff;
  padding-top: 10px;
  font-family: 'Cambria Regular';
}

#news-public .page .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 35px;
  margin: 0;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

#news-public .content {
  display: table;
  width: 100%;
}

#news-public .content .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#news-public .content .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 330px;
  right: 440px;
}

#news-public .content .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -28.5px;
  margin-bottom: -15px;
}

#news-public .content .news-header {
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  color: #c8ac48;
  display: table;
  position: relative;
  margin-top: 40px;
}

#news-public .content .news-header::before {
  background: #c8ac48;
  width: 45px;
  height: 2px;
  content: "";
  display: block;
  margin: 11px 0px;
  position: absolute;
  left: -60px;
}

#news-public .content .content-wrapper {
  display: table;
  width: 100%;
  padding: 20px 0;
  background: #f7f7f7;
}

#news-public .content .content-wrapper .content-inner {
  width: 95%;
  margin: 0 auto;
  padding: 100px 0;
  display: table;
}

#news-public .content .img-news {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

#news-public .content .img-news:hover {
  background: #c8ac48;
}

#news-public .content .regular-txt {
  font-weight: 400;
  font-size: 17px;
  color: #9e9da0;
  line-height: 180%;
  margin-bottom: 15px;
  text-align: justify;
}

@media (max-width: 764px) {
  .top-nav {
    height: 65px !important;
  }
  .navbar-brand img {
    width: 65%;
  }
  .page {
    padding-top: 50px;
    height: 100px !important;
  }
  .page::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px !important;
    height: 2px;
    margin: 45px 20px;
    background: #c8ac48;
  }
  .page .txt-destaque {
    display: block;
    color: #c8ac48;
    margin: 0 !important;
    padding: 28px 55px 0 !important;
    font-family: "Playfair Display", serif;
  }
  .page .txt-destaque h3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #c8ac48;
    font-size: 16px !important;
    margin: 10px 0;
    line-height: 15px;
    font-family: 'Playfair Display', serif;
  }
  .logo {
    padding: 0;
  }
  .logo img {
    width: 85%;
  }
  #carousel-fullbanner .carousel-inner .txt-fullbanner::before {
    background: #c8ac48;
    width: 40px;
    height: 2px;
    content: "";
    display: block;
    margin: 60px 10px;
    position: absolute;
  }
  #carousel-fullbanner .carousel-inner .txt-fullbanner h3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #c8ac48;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 60px;
    margin-bottom: 0px;
    padding-top: 40px;
    line-height: 40px;
    font-family: "Playfair Display", serif;
  }
  #carousel-fullbanner .carousel-inner .carousel-caption {
    position: absolute;
    right: 18%;
    top: 8%;
    left: 6%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
  }
  #carousel-fullbanner .carousel-inner .carousel-caption h1 {
    font-size: 1rem;
  }
  #carousel-fullbanner .carousel-inner .carousel-caption .leia-mais {
    color: #fff;
    background-color: #c8ac48;
    font-size: 13px;
    padding: 10px 5px;
    float: right;
    margin-top: 0;
    position: relative;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    top: -40px;
    z-index: 99;
    right: -60px;
  }
  .info-container::before {
    display: none;
  }
  .info {
    padding: 0;
  }
  .info img {
    max-width: 345px !important;
    padding-top: 25px;
    margin-bottom: 15px;
  }
  .info::before {
    background: #c8ac48;
    width: 45px;
    height: 2px;
    content: "";
    display: block;
    margin: 38px 0px;
    position: absolute;
  }
  .txt-destaque h3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #c8ac48;
    font-size: 20px;
    line-height: 15px;
    margin: 30px 0 0 60px;
    font-family: 'Playfair Display', serif;
  }
  .txt-destaque h2 {
    margin: 0 0 0 60px;
    margin-bottom: 20px !important;
  }
  .pratica-container::before {
    background: #c8ac48;
    width: 45px;
    height: 2px;
    content: "";
    display: block;
    margin: 53px -35px;
    position: absolute;
    left: 73px;
  }
  .pratica-container h2 {
    margin: 10px 40px;
  }
  .pratica-container h3 {
    margin: 15px 0;
  }
  .pratica-container .area-pratica .txt-destaque {
    margin-top: 0;
    padding: 0 25px;
  }
  .pratica-container .area-pratica .txt-destaque h2 {
    margin: 10px 0;
  }
  .pratica-container .area-pratica .box-not {
    display: inline-block;
    margin: 35px 0;
    width: 100%;
    text-align: center;
    padding: 0 40px;
  }
  .pratica-container .area-pratica .leia-mais {
    float: none;
    display: inline-block;
    margin: 0px 115px;
  }
  .noticias-container::before {
    margin: 93px -5px;
  }
  .noticias {
    background: #fff;
    margin: 0 15px;
  }
  .noticias .ler-mais {
    display: inline-block;
    color: #fff;
    background-color: #c8ac48;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 35px;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
    text-decoration: none;
  }
  .noticias .mobile-notice {
    margin: 0;
  }
  .noticias .box-news {
    margin-top: 15px;
    border: 0 !important;
    margin-right: 0 !important;
  }
  .noticias .txt-destaque h2 {
    margin: 10px 0;
  }
  .noticias .txt-destaque h3 {
    margin: 15px 0;
  }
  #carousel-brief .carousel-caption {
    top: 14px;
  }
  #carousel-brief .carousel-caption .icon-carousel {
    margin-bottom: 20px;
  }
  #carousel-brief .carousel-caption .icon-carousel img {
    width: 25px;
  }
  #carousel-brief .carousel-caption h3 {
    margin: 0;
  }
  #carousel-brief .carousel-caption p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=layout.css.map */