@import "./main";
@import "./pages/noticias";
@import "./pages/escritorio";
@import "./pages/contato";
@import "./pages/equipe";
@import "./pages/areas-de-pratica"; 

body {
    overflow-x: hidden;
    box-sizing: border-box;
}
h2 {
    font-size: 30px;
    margin-bottom: 45px;
    font-family: 'Cambria Regular';
} 

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.page {
    .txt-destaque {
        display: block; 
        color: #c8ac48;
        font-size: 35px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: "Playfair Display", serif;
        margin: 55px 40px 0;
        
        h2 {
            font-size:40px;
            color: #fff; 
            padding-top: 10px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 35px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }
}

#parallaxBar {
    height: 750px;
    background-color: #004c82;
    background: url(../img/liders.jpg) 50% 0 fixed;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;

    .txt-parallax {
        left: 30px;
        background: #000;
        bottom: 30px;
        position: absolute;
        width: 80%;
        opacity: 0.9;

        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 120px;
            height: 2px;
            margin: 25px 20px;
            background: #c8ac48;
        }

        h2 {
            color: #c8ac48;
            padding-top: 5px;
            font-size: 35px;
            padding-left: 135px;
            font-family: 'Playfair Display', serif;
        }

        h3 {
            display: inline-flex;
            font-size: 40px;
            margin: 0;
            color: #fff;
            line-height: 40px;
            padding-bottom: 25px;
            padding-left: 35px;
            font-family: 'Cambria Regular', serif;
        }

        li {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria Regular';
            font-size: 16px;
            display: contents;
            position: relative;
            padding: 0px 0px 7px 30px;
        }
 
        p {  
            color: #9e9da0 !important;
            font-weight: 700;
            letter-spacing: 2.5px;
            line-height: 18px;
            font-family: 'Cambria Regular';
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 45px;
    font-family: 'Cambria Regular';
}

h2 {
    font-family: 'Cambria Regular';
}

h3 {
    font-family: 'Playfair Display', serif;
}

h5 {
    font-family: 'Playfair Display', serif;
}

p {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Cambria Regular';
}

.page {
    display: table;
    position: relative;
    width: 100vw;
    height: 200px;
    background: linear-gradient(to right, rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.4)), url(../img/intro.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 65px;

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 120px;
        height: 2px;
        margin: 80px 50px;
        background: #c8ac48;
    }
}

.carousel-inner {

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 5%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .txt-fullbanner {
        &::before {
            background: #c8ac48;
            width: 120px;
            height: 2px;
            content: "";
            display: block;
            margin: 20px 0;
            position: absolute;
        }

        h1 {
            font-size: 45px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 35px;
            font-weight: lighter;
            margin-left: 140px;
            margin-bottom: 40px;
            line-height: 40px;
            font-family: "Playfair Display", serif;
        }
    }

    .carousel-caption {
        position: absolute;
        right: 18%;
        top: 25%;
        left: 6%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
 
        .leia-mais {

            display: inline-block;
            color: #fff;
            background-color: #c8ac48;
            font-size: 16px;
            padding: 10px 20px;
            margin-top: 60px;
            transition: 0.8s all;
            text-decoration: none;
            font-family: "Playfair Display", serif;

            &:hover {
                color: #c8ac48;
                background-color: #fff;
                border: 1px #c8ac48 solid;
                transition: 0.8s all;
            }
        }
    }
}

.carousel {
    background-color: rgba(114, 113, 116, 0.4) !important;
    z-index: 10;
    width: 100%;
}

.nav-link {
    display: block;
    float: left;
    text-align: left;
    top: 0;
    padding: 5px 10px 5px 21px;
    color: #f6f6f6;
    font-size: 17px;

    a {
        &:active {
            color: #c8ac48;
        }

        &:hover {
            color: #c8ac48;
        }
    }
}

.info-container {
    &::before {
        background: #c8ac48;
        width: 45px;
        height: 2px;
        content: "";
        display: block;
        margin: 112px -10px;
        position: absolute;
        left: 73px;
    }
}

.info {
    padding: 75px 0;

    p {
        color: #9e9da0;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .img-fluid {
        max-width: 650px;
    }

    .txt-destaque {
        h2 {
            font-size: 30px;
            margin-bottom: 45px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            margin-top: 30px;
            font-family: 'Playfair Display', serif;
        }
    }
}

.pratica-container {
    &::before {
        background: #c8ac48;
        width: 45px;
        height: 2px;
        content: "";
        display: block;
        margin: 93px 5px;
        position: absolute;
        left: 73px;
    }
}

.area-pratica {
    margin: auto;
    padding: 25px 0;
    background-color: #f7f7f7;

    h2 {
        font-size: 20px;
        padding-top: 10px;
        font-family: 'Cambria Regular';
    }

    p {
        color: #9e9da0;
        font-weight: 500;
        font-family: 'Cambria Regular';
        font-size: 16px;
    }

    .box-not {
        display: inline-block;
        margin: 35px 0 0 140px;
        width: 60%;

        .icon {
            margin-bottom: 10px;
        }
    }

    .txt-destaque {
        margin-top: 60px;

        h2 {
            font-size: 28px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }

    .leia-mais { 
        float: right;
    }
}

.noticias-container {

    &::before {
        background: #c8ac48;
        width: 50px;
        height: 2px;
        content: "";
        display: block;
        margin: 33px 25px;
        position: absolute;
        left: 50px;
    }
}

.noticias {
    background: #fff;
    margin: 50px 0px;

    h5 {
        color: #636363;
        font-family: 'Playfair Display', serif;
    }

    p {
        color: #9e9da0;
        font-weight: 500;
    }

    .img-news {
        &:hover {
            filter: blur(1px) brightness(0.8);
        }
    }

    .noticia {
        .content-noticia {
            margin-top: 25px;

        }
    }

    .data {
        color: #fff;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

        .speech-bubble {
            position: absolute;
            width: 60px;
            background: #c8ac48;
            padding: 5px 15px;
            line-height: 21px;
            top: 20px;
            left: 25px;
        }

        .speech-bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 27px;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-top-color: #c8ac48;
            border-bottom: 0;
            border-left: 0;
            margin-left: -26.5px;
            margin-bottom: -15px;
        }
    }

    .txt-destaque {
        h2 {
            font-size: 30px;
            font-family: 'Cambria Regular';
            margin-bottom: 45px;
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }
}


#carousel-brief {

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 5%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-caption {
        position: absolute;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        text-align: center;
        top: 70px;
        left: 40px;
        right: 40px;

        .icon-carousel {
            margin-bottom: 40px;
            display: block;
            text-align: center;
        }

        .txt-destaque {

            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 16px;
                font-weight: 400;
                line-height: 15px;
                font-family: myriad-pro, sans-serif;
            }
        }

        .brief-content {
            color: #D9D9D9;
            font-size: 16px;
            text-align: center;
            font-family: 'Cambria Regular';
            position: relative;
            // left: 5%;       
        }
    }
}

// noticias 

#news-public {
    background: #f7f7f7;

    .page {
        .txt-destaque {
            display: block; 
            color: #c8ac48;
            font-size: 35px;
            margin: 0;
            font-weight: lighter;
            line-height: 15px;
            padding: 15px 15px;
            font-family: "Playfair Display", serif;
            margin: 55px 40px 0;
            
            h2 {
                font-size:40px;
                color: #fff; 
                padding-top: 10px;
                font-family: 'Cambria Regular';
            }
    
            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 35px;
                margin: 0;
                line-height: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }
    .content {
        display: table;
        width: 100%;

        .data {
            color: #fff;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

            .speech-bubble {
                position: absolute;
                width: 60px;
                background: #c8ac48;
                padding: 5px 15px;
                line-height: 21px;
                top: 330px;
                right: 440px;
            }

            .speech-bubble:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 27px;
                width: 0;
                height: 0;
                border: 15px solid transparent;
                border-top-color: #c8ac48;
                border-bottom: 0;
                border-left: 0;
                margin-left: -28.5px;
                margin-bottom: -15px;
            }
        }

        .news-header {
            text-transform: uppercase;
            margin-bottom: 0px;
            padding-bottom: 10px;
            width: 100%;
            color: #c8ac48;
            display: table;
            position: relative;
            margin-top: 40px;

            &::before {
                background: #c8ac48;
                width: 45px;
                height: 2px;
                content: "";
                display: block;
                margin: 11px 0px;
                position: absolute;
                left: -60px;
            }
        }

        .content-wrapper {
            display: table;
            width: 100%;
            padding: 20px 0;
            background: #f7f7f7;

            .content-inner {
                width: 95%;
                margin: 0 auto;
                padding: 100px 0;
                display: table;
            }
        }

        .img-news {
            float: right;
            margin-left: 20px;
            margin-bottom: 20px;

            &:hover {
                background: #c8ac48;
            }
        }

        .regular-txt {
            font-weight: 400;
            font-size: 17px;
            color: #9e9da0;
            line-height: 180%;
            margin-bottom: 15px;
            text-align: justify;
        }  
    } 
}  

@media (max-width: 764px) {
    .top-nav {
        height: 65px !important;
    }
    .navbar-brand img {
        width: 65%;
    }
   
    .page {
        padding-top: 50px;
        height: 100px !important;

        &::before {
            display: block;
            position: absolute; 
            content: "";
            width: 45px !important;
            height: 2px;
            margin: 45px 20px;
            background: #c8ac48; 
        }
        .txt-destaque {
            display: block;
            color: #c8ac48;
            margin: 0 !important;
            padding: 28px 55px 0 !important;
            font-family: "Playfair Display", serif;

            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 16px !important;
                margin: 10px 0;
                line-height: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }

    .logo {
        padding: 0;
        img {
        width: 85%;

        }
    }

    #carousel-fullbanner {

        .carousel-inner {
            .txt-fullbanner {
                &::before {
                    background: #c8ac48;
                    width: 40px;
                    height: 2px;
                    content: "";
                    display: block;
                    margin: 60px 10px;
                    position: absolute;
                }
                h3 {
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    color: #c8ac48;
                    font-size: 15px;
                    font-weight: lighter;
                    margin-left: 60px;
                    margin-bottom: 0px;
                    padding-top: 40px;
                    line-height: 40px;
                    font-family: "Playfair Display", serif;
                }
            }
            .carousel-caption {
                position: absolute;
                right: 18%;
                top: 8%;
                left: 6%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #fff;
                text-align: left;
                h1 {
                    font-size: 1rem;
                }
                .leia-mais {
                    color: #fff;
                    background-color: #c8ac48;
                    font-size: 13px;
                    padding: 10px 5px;
                    float: right;
                    margin-top: 0;
                    position: relative;
                    -webkit-transition: 0.8s all;
                    transition: 0.8s all;
                    text-decoration: none;
                    font-family: "Playfair Display", serif;
                    top: -40px;
                    z-index: 99;
                    right: -60px;
                }
            }
        }
    }
    .info-container {
        &::before {
            display: none;
        }
    }
    .info {
        padding: 0;

        img {
            max-width: 345px !important;
            padding-top:25px;
            margin-bottom: 15px;
            }

       &::before {
            background: #c8ac48;
            width: 45px;
            height: 2px;
            content: "";
            display: block;
            margin: 38px 0px;
            position: absolute;
       }
    }
    .txt-destaque {
        h3 {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            margin: 30px 0 0 60px;
            font-family: 'Playfair Display', serif;
        }
        h2 {
            margin: 0 0 0 60px;
            margin-bottom: 20px !important;
        }
    }

    .pratica-container {
        &::before {
            background: #c8ac48;
            width: 45px;
            height: 2px;
            content: "";
            display: block;
            margin: 53px -35px;
            position: absolute;
            left: 73px;
        }
        h2 {
            margin: 10px 40px;
        }
        h3 {
            margin: 15px 0;
        }
        
        .area-pratica {
            .txt-destaque {
                margin-top: 0;
                padding: 0 25px;
                h2 {
                    margin: 10px 0;
                }
            }  
            .box-not {
                display: inline-block;
                margin: 35px 0;
                width: 100%;
                text-align: center;
                padding: 0 40px;
            }
            .leia-mais {
                float: none;
                display: inline-block;
                margin: 0px 115px;
            }
        }
    }

    .noticias-container {
        &::before {
            margin: 93px -5px;
        }
    }
    
    .noticias {
        background: #fff;
        margin: 0 15px;

        .ler-mais {
            display: inline-block;
            color: #fff; 
            background-color: #c8ac48;
            font-size: 16px;
            padding: 5px 10px;
            margin-top: 35px;
            -webkit-transition: 0.8s all;
            transition: 0.8s all;
            text-decoration: none;
        }
        .mobile-notice {
            margin: 0;
        }
        .box-news {
            margin-top: 15px;
            border: 0 !important;
            margin-right: 0 !important;
        }
        .txt-destaque {
            h2 {
                margin: 10px 0;
            }
            h3 {
                margin: 15px 0;
            }
        }
    }

    #carousel-brief {
        .carousel-caption {
            top: 14px;

            .icon-carousel {
                margin-bottom: 20px;
                img {
                    width: 25px;
                }
            }
            h3 {
                margin: 0;
            }
            p {
                font-size: 12px;
            }
        }
    }
}
 
    @media (min-width: 992px) {}

    ;

    @media (min-width: 1200px) {}

    ;