@import "./main";
@import "./pages/noticias";
@import "./pages/escritorio"; 
@import "./pages/contato"; 
@import "./pages/equipe";  
@import "./pages/areas-de-pratica";   
 
@font-face {
    font-family: Cambria; 
    src: local('Cambria'), url ('../fonts/cambria.ttc');
}
 
p {
    font-family: 'Cambria', serif !important;
}

body { 
    overflow-x: hidden;  
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 45px;
	font-family: Cambria,Georgia,serif; 
    color: #fff; 
} 

h2 {
    font-size: 30px;
    margin-bottom: 45px;
	font-family: Cambria,Georgia,serif; 
} 

h3 {
    font-family: 'Playfair Display', serif;
}

h5 { 
    font-family: 'Playfair Display', serif;
}
.fullbanner-img {
    z-index: -1;
}
p {
    font-weight: 500;
    text-align:justify !important;
	font-family: Cambria,Georgia,serif; 
    font-size: 18px !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} 
 
.page {
    display: table;
    position: relative;
    width: 100vw;
    height: 200px;
    background: linear-gradient(to right, rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.4)), url(../img/intro.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 65px;

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 70px;
        height: 1px;  
        margin: 80px 90px;
        background: #c8ac48;
    }

    .txt-destaque { 
        display: block; 
        color: #c8ac48;
        font-size: 30px;
        margin: 0;  
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: 'Playfair Display', serif;
        margin: 55px 40px 0;

        h2 {
            font-size:40px;
            color: #fff; 
            padding-top: 10px;
        	font-family: Cambria,Georgia,serif;  
        }
         
        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 35px;
            margin: 0 45px;  
            line-height: 15px;  
            font-family: 'Playfair Display', serif; 
        }
    }
}
   
#parallaxBar {
    height: 590px;
    background-color: #004c82;
    background: url(../img/lider.png) 50% 0 fixed;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;

    .txt-parallax {
        left: 30px;
        background: #000;
        bottom: 30px;
        position: absolute;
        width: 80%;
        opacity: 0.9;

        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 110px;
            height: 1px;
            margin: 25px 20px;
            background: #c8ac48;
        }

        h2 {
            color: #c8ac48;
            padding-top: 5px;
            font-size: 35px;
            padding-left: 135px;
            font-family: 'Playfair Display', serif;
        }

        h3 {
            display: inline-flex;
            font-size: 40px;
            margin: 0;
            color: #fff;
            line-height: 40px;
            padding-bottom: 25px;
            padding-left: 35px;
            font-family: 'Cambria', serif;
        }

        li {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria', serif;
            font-size: 16px;
            display: contents;
            position: relative;
            padding: 0px 0px 7px 30px;
        }
 
        p {  
            color: #9e9da0 !important; 
            font-weight: 700;
            letter-spacing: 2.5px;
            line-height: 18px;
        	font-family: Cambria,Georgia,serif;  
        }
    }
}

#parallax-home {
    height: 300;
    background-color: #004c82;
    background: url(../img/escritorio.png) 50% 0 fixed;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    margin: 0px 0 60px;

    .txt-parallax {
        left: 30px;
        background: #000;
        bottom: 30px;
        position: absolute;
        width: 80%;
        opacity: 0.9;

        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 110px;
            height: 1px;
            margin: 25px 20px;
            background: #c8ac48;
        }

        h2 {
            color: #c8ac48;
            padding-top: 5px;
            font-size: 35px;
            padding-left: 135px;
            font-family: 'Playfair Display', serif;
        }

        h3 {
            display: inline-flex;
            font-size: 40px;
            margin: 0;
            color: #fff;
            line-height: 40px;
            padding-bottom: 25px;
            padding-left: 35px;
            font-family: 'Cambria', serif;
        }

        li {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria', serif;
            font-size: 16px;
            display: contents;
            position: relative;
            padding: 0px 0px 7px 30px;
        }
 
        p {  
            color: #9e9da0 !important;
            font-weight: 700;
            letter-spacing: 2.5px;
            line-height: 18px;
        	font-family: Cambria,Georgia,serif;  
        }
    }
}
.quem-somos {
    display: block;
    padding: 40px 0;

    .leia-mais { 
        margin-top: 30px !important;   
        font-family: 'Cambria', serif;
       }

    .col-lg-6 {
        padding-right: 0;
        padding-left: 0;
    }
    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 20px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: 'Playfair Display', serif;

        &::before { 
            background: #c8ac48;
            width: 45px;
            height: 1px;
            content: "";
            display: block;
            margin: 18px -30px;
            position: absolute;
        }
        
        h2 {
            font-size: 30px;
            color: #000;
            padding-top: 10px;
            padding-left: 25px;
            font-family: 'Cambria', serif;
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 10px 25px 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }

    } 
    
    .txt-introduction {
        margin: 0;
        padding: 10px 40px;
        text-align: justify;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria', serif;
        }
    }

    .txt-introduction2 {
        margin: 0;
        padding: 115px 40px 5PX;
        text-align: justify;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria', serif;
        }
    }
}
#parallax-escritorio {
    height: 350px;
    background-color: #004c82;
    background: url(../img/escritorio.png) 50% 0 fixed;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    margin: 0px 0 60px;

    .txt-parallax {
        left: 30px;
        background: #000;
        bottom: 30px;
        position: absolute;
        width: 80%;
        opacity: 0.9;

        &::before {
            display: none;
            position: absolute;
            content: "";
            width: 110px;
            height: 1px;
            margin: 25px 20px;
            background: #c8ac48;
        }

        h2 {
            color: #c8ac48;
            padding-top: 5px;
            font-size: 35px;
            padding-left: 135px;
            font-family: 'Playfair Display', serif;
        }

        h3 {
            display: inline-flex;
            font-size: 40px;
            margin: 0;
            color: #fff;
            line-height: 40px;
            padding-bottom: 25px;
            padding-left: 35px;
            font-family: 'Cambria', serif;
        }

        li {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria', serif;
            font-size: 16px;
            display: contents;
            position: relative;
            padding: 0px 0px 7px 30px;
        }
 
        p {  
            color: #9e9da0 !important;
            font-weight: 700;
            letter-spacing: 2.5px;
            line-height: 18px;
        	font-family: Cambria,Georgia,serif;  
        }
    }
}
.carousel-item.active {
    display:block;
}

.carousel-inner {
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0; 
        bottom: 0;
        z-index: 1;
        display: flex;
        -ms-flex-align: center;
        align-items: center; 
        -ms-flex-pack: center;
        justify-content: center;
        width: 5%;
        color: #fff; 
        text-align: center;
        opacity: .5; 
        transition: opacity .15s ease;
    }

    .box-carousel {

        .txt-fullbanner {
            &::before {
                background: #c8ac48;
                width: 110px;
                height: 1px;
                content: "";
                display: block;
                margin: 19px 0;
                position: absolute;
            }

            h1 {
                font-size: 30px !important;
                font-family: 'Cambria', serif;
            }

            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 25px;
                font-weight: lighter;
                margin-left: 135px;
                margin-bottom: 15px;
                line-height: 40px;
                font-family: 'Playfair Display', serif;
            }
        }
    }

    .carousel-caption {
        position: absolute;
        right: 18%;
        top: 0;
        left: 6%;
        z-index: 9999;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;

    }
}

.carousel-text-fullbanner {
    position: absolute !important;
    z-index: 10;
    width: 100%;
    padding: 0 100px;
    top: 220px;
}

.carousel {
    z-index: 10;
    width: 100%;
}
 
.info-container {

    &::before {
        background: #c8ac48;
        width: 45px;
        height: 1px;
        content: "";
        display: block;
        margin: 117px -10px;
        position: absolute;
        left: 73px;
    }
}

.info {
    padding: 80px 0;
    position: relative;
    top: 0;


    p {
        color: #9e9da0;
        font-weight: 500;
    }

    .img-fluid {
        max-width: 650px;
    }

    .txt-destaque {

        h2 {
            font-size: 30px;
            margin-bottom: 50px;
            padding-top: 10px;
            font-family: 'Cambria', serif;
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            margin-top: 30px; 
            font-family: 'Playfair Display', serif;
        }
    }
    .leia-mais {
        font-size: 20px;
        margin-top: 30px;
    }
}
 
.pratica-container {
    &::before {
        background: #c8ac48;
        width: 45px;
        height: 1px;
        content: "";
        display: block;
        margin: 93px 0px;
        position: absolute;
        left: 60px;
    }
}

.area-pratica {
    margin: auto;
    padding: 25px 0;
    background-color: #f7f7f7;

    h2 {
        font-size: 20px;
        padding-top: 10px;
            font-family: 'Cambria', serif;
    }
 
    p {
        color: #9e9da0;
        font-weight: 500;
            font-family: 'Cambria', serif;
        font-size: 16px;
    }

    .box-not { 
        display: inline-block;
        margin: 10px 20px 10px 20px;
        width: 100%;
        text-align: center;
        padding: 0 70px;

        .icon {
            margin-bottom: 10px;
        }
    }

    .txt-destaque {
        margin-top: 60px;

        h2 {
            font-size: 28px;
            font-family: 'Cambria', serif;
        }
 
        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;  
            line-height: 15px; 
            font-family: 'Playfair Display', serif;
        } 
    }

    .leia-mais {  
        float: right;
    } 
}
 
.noticias-container {

    &::before { 
        background: #c8ac48;   
        width: 45px; 
        height: 1px;
        content: "";
        display: block;
        margin: 33px 10px;
        position: absolute;
        left: 50px;
    }
}

.noticias {
    background: #fff;
    margin: 50px 0px;

    h5 {
        color: #636363;
        font-family: 'Playfair Display', serif;
    }  
 
    p { 
        color: #9e9da0; 
    }
 
    .img-news {
        &:hover {
            filter: blur(1px) brightness(0.8);
        }
    }

    .noticia {
        .content-noticia { 
            margin-top: 25px;
        }
    }

    .data {
        color: #fff;
        font-size: 20px;
            font-family: 'Cambria', serif;

        .speech-bubble {
            position: absolute;
            width: 60px;
            background: #c8ac48;
            padding: 5px 10px;
            line-height: 21px;
            top: 20px;
            left: 25px;
        }

        .speech-bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 27px;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-top-color: #c8ac48;
            border-bottom: 0;
            border-left: 0;
            margin-left: -27.5px;
            margin-bottom: -14px;
        }
    }

    .txt-destaque {
        h2 {
            font-size: 30px;
            font-family: 'Cambria', serif;
            margin-bottom: 45px;
            padding-top: 10px;
        }
    }
}

#carousel-brief {

    .carousel-caption {
        
    .txt-destaque {
        text-align: center !important;

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            font-weight: 400;
            line-height: 15px;
            font-family: "Playfair Display", sans-serif;
        }
    }
    }
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 5%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-caption {
        position: absolute;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        text-align: center; 
        top: 70px;
        left: 40px;
        right: 40px; 

        .icon-carousel {
            margin-bottom: 40px;
            display: block;
            text-align: center;
        }
        .brief-content {
            color: #D9D9D9;
            font-size: 18px; 
            text-align: center;
            padding: 0 75px;
            font-family: 'Cambria', serif;
            position: relative;
        }
    }
}
  
// noticias 
#news-public {
    background: #f7f7f7;
    .page {
        .txt-destaque {
            display: block; 
            color: #c8ac48; 
            font-size: 35px; 
            margin: 0; 
            font-weight: lighter;
            line-height: 15px;
            padding: 15px 15px;
            font-family: 'Playfair Display', serif;
            margin: 55px 40px 0;
              
            h2 {
                font-size:40px;
                color: #fff; 
                padding-top: 10px; 
                
                font-family: 'Cambria', serif;
            } 
    
            h3 { 
                display: inline-flex; 
                color: #c8ac48;
                font-size: 35px;
                margin: 0;
                line-height: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }
    .content {
        display: table;
        width: 100%;

        .data {
            color: #fff;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

            .speech-bubble {
                position: absolute;
                width: 60px;
                background: #c8ac48;
                padding: 5px 15px;
                line-height: 21px;
                top: 310px;
                right: 440px;
            }

            .speech-bubble:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 27px;
                width: 0;
                height: 0;
                border: 15px solid transparent;
                border-top-color: #c8ac48;
                border-bottom: 0;
                border-left: 0;
                margin-left: -28.5px;
                margin-bottom: -15px;
            }
        }

        .news-header {
            text-transform: uppercase;
            margin-bottom: 0px;
            padding-bottom: 10px;
            width: 100%;
            color: #c8ac48;
            display: table;
            position: relative;
            margin-top: 40px;

            &::before {
                background: #c8ac48;
                width: 45px;
                height: 1px;
                content: "";
                display: block;
                margin: 11px 0px;
                position: absolute;
                left: -60px;
            }
        }

        .content-wrapper {
            display: table;
            width: 100%;
            padding: 20px 0;
            background: #f7f7f7;

            .content-inner {
                width: 95%;
                margin: 0 auto;
                padding: 100px 0;
                display: table;
            }
        }

        .img-news {
            float: right;
            margin-left: 20px;
            margin-bottom: 20px;

            &:hover {
                background: #c8ac48;
            }
            
        }        .regular-text {
            color: #9e9da0;
        } 

        .regular-txt {
            color: #9e9da0;
            font-weight: 500;
            max-height: 75px; 
            letter-spacing: 0; 
            line-height: 20px;
            margin: 0px 0 30px;
        }  
    }  
}   

@media (max-width: 768px) {
    #parallax-escritorio {
    }
    
    .top-nav {
        height: 50px !important;
    }
    .navbar-brand img {
        width: 65%;
    }
   
    .page {
        padding-top: 50px;
        height: 100px !important;

        &::before {
            display: block;
            position: absolute; 
            content: "";
            width: 45px !important;
            height: 1px;
            margin: 45px 20px;
            background: #c8ac48; 
        }
        .txt-destaque {
            display: block;
            color: #c8ac48;
            margin: 0 !important;
            padding: 28px 55px 0 !important;
                        font-family: 'Playfair Display', serif;

            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 16px !important;
                margin: 10px 0;
                line-height: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }
 
    .logo {
        padding: 0;
        img {
            width: 55% !important;
            padding: 10px;      
        }
    }
    .container-fullbanner {
        position: relative;
        padding: 0 100px;
    }

    .carousel-text-fullbanner {
        top: 5px;
        padding: 20px;
        
        h3 {  
            display: inline-flex;
            color: #c8ac48;
            font-size: 18px !important;
            font-weight: lighter;
            margin-left: 70px !important;
            margin-bottom: 0px !important;
            padding-top: 35px;
            line-height: 20px !important;
            font-family: 'Playfair Display', serif;
        }

        h1 {
            font-size: 15px;
        }
        .leia-mais {
            color: #fff;
            background-color: #c8ac48;
            font-size: 13px !important;
            float: right;
            margin-top: 0;
            position: relative;
            transition: 0.8s all;
            text-decoration: none;
        	font-family: 'Cambria',serif; 
            z-index: 99;
            top: 0;
            right: 0;
        }

    }

    .carousel {
        z-index: 10;
        width: 100%;
    }

    #carousel-fullbanner {

        .carousel-item.active {
            display:block;
            height: 300px !important;
        }

        .carousel-inner {

            .txt-fullbanner {

                &::before {
                    background: #c8ac48;
                    width: 40px;
                    height: 1px;
                    content: "";
                    display: block;
                    top: 25px;
                    left: 15px;   
                    position: absolute;
                }
            }
            
            .carousel-caption {
                position: absolute;
                right: 18%;
                top: 8%;
                left: 6%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #fff;
                text-align: left;

                h1 {
                    font-size: 1rem;
                    color: #fff;
                }

            }
        }
    }
    .quem-somos {
        .txt-introduction {
            text-align: center;
            p {
            font-size: 16px !important;
            }
        }
        .txt-introduction2 {
            display: none;
        }
    }

    .info-container {
        &::before {
            display: none;
        }
    }

    .info {
        padding: 0;

        img {
            max-width: 345px !important;
            padding-top:25px;
            margin-bottom: 15px;
            }

       &::before {
            background: #c8ac48;
            width: 45px;
            height: 1px;
            content: "";
            display: block;  
            margin: 38px 0px;
            position: absolute;
       }
    }

    .txt-destaque {
        h3 {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            margin: 30px 0 0 60px;
            font-family: 'Playfair Display', serif;
        }

        h2 {
            margin: 0 0 0 60px;
            padding-top: 10px;
            margin: 0px 25px;
            padding-left: 0 !important;
            margin-bottom: 20px !important;
        }
    }

    .pratica-container {
        &::before {
            margin: 33px -35px;
        }
        h2 {
            margin: 10px 40px;
        }
        h3 {
            margin: 15px 0;
        }

        
        .area-pratica {
            
            .txt-destaque {
                margin-top: 0;
                padding: 0 30px 0 80px;
                h2 {
                    margin: 0px 0 40px 0px;
                    padding-top: 10px;
                }
            }  
            .box-not {
                margin: 0;
                padding: 10 30px;
            }

            .leia-mais {
                float: none;
                margin-top: 20px;
                font-size: 20px;
            }
        } 
    }

    .noticias-container { 
        &::before {
            margin: 35px -10px;
        } 
    }
    .noticias {
        .txt-destaque {
            h2 {
                margin-top: 0;
            }
            h3 {
                margin: 0 55px;
            }
        }
    }
    
    #carousel-brief {
        
        .carousel-caption {
            top: 14px;
            padding: 0;

            h3 {
                margin: 0;
                font-size: 15px !important;
            }
            p {
                font-size: 13px !important;
            }

            .brief-content {
                padding: 0;
            }

            .icon-carousel {
                margin-bottom: 20px;
                img {
                    width: 25px;
                }
            }
            .txt-destaque {
                h3 {
                    line-height: 22px;
                }
            }
        }
    }
    
    #img-escritorio-home {
        background-image: url(../../img/escritorio.png);
        min-height: 100%;
        position: relative;
    }
    #parallaxBar {
        height: 190px;

        .txt-parallax {
            left: 20px;
            bottom: 10px;
            
            h3 {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                font-size: 16px;
                margin: 0;
                color: #fff;
                line-height: 20px;
                padding-bottom: 0;
                padding-left: 0;
                font-family: 'Cambria', serif;
            }
        }
    }
}
@media (min-width: 770px) and (max-width: 940px)  {

    .top-nav {
        height: 65px !important;
    }
    .navbar-brand img {
        width: 35%;
    }
   
    .page {
        padding-top: 50px;
        height: 100px !important;

        &::before {
            display: block;
            position: absolute; 
            content: "";
            width: 45px !important;
            height: 1px;
            margin: 48px 10px;
            background: #c8ac48; 
        }
        .txt-destaque {
            display: block;
            color: #c8ac48;
            margin: 0 !important;
            padding: 28px 55px 0 !important;
                        font-family: 'Playfair Display', serif;

            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 22px !important;
                margin: 10px 0;
                line-height: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }
 
    .logo {
        padding: 0;
        img {
            width: 85% !important;
            padding: 10px;      
            margin-top: 10px;
        }
    }
    .container-fullbanner {
        position: relative;
        padding: 0 100px;
    }
    .carousel-text-fullbanner {
        top: 5px;
        padding: 20px; 

        h3 {  
            display: inline-flex;
            color: #c8ac48;
            font-size: 15px !important;
            font-weight: lighter;
            margin-left: 70px !important;
            margin-bottom: 0px !important;
            padding-top: 35px;
            line-height: 16px !important;
            font-family: 'Playfair Display', serif;
        }

        h1 {
            font-size: 16px;
        }

        .leia-mais {
            color: #fff;
            background-color: #c8ac48;
            font-size: 13px !important;
            padding: 5px 10px;
            margin-top: 0;
            float: right;
            position: relative;
            -webkit-transition: 0.8s all;
            transition: 0.8s all;
            text-decoration: none;
            font-family: 'Cambria', serif;
            z-index: 99;
            top: 0;
            left: -5px;
        }

    }

    .carousel {
        z-index: 10;
        width: 100%;
    }

    #carousel-fullbanner {

        .carousel-item.active {
            display:block;
            height: 300px !important;
        }

        .carousel-inner {

            .txt-fullbanner {
                margin: 0 55px;
                
                &::before {
                    background: #c8ac48;
                    width: 40px;
                    height: 1px;
                    content: "";
                    display: block;
                    margin: 60px 20px;
                    position: absolute;
                }
            }
            
            .carousel-caption {
                position: absolute;
                right: 18%;
                top: 8%;
                left: 6%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #fff;
                text-align: left;

                h1 {
                    font-size: 1rem;
                    color: #fff;
                }
                h3 {
                    margin-left: 75px !important;
                }

            }
        }
    }
    .quem-somos {
        .txt-introduction2 {
            padding: 35px 40px 0 40px;
        }
    }
    .info-container {
        &::before {
            display: none;
        }
    }
    .info {
        padding: 0;

        img {
            max-width: 345px !important;
            padding-top:25px;
            margin-bottom: 15px;
            }

       &::before {
            background: #c8ac48;
            width: 45px;
            height: 1px;
            content: "";
            display: block;  
            margin: 38px 0px;
            position: absolute;
       }
    
    }

    .txt-destaque {

        h3 {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            line-height: 15px;
            margin: 30px 0 0 60px;
            font-family: 'Playfair Display', serif;
        }
        h2 {
            margin: 0 0 0 60px;
            padding-top: 10px;
            margin-bottom: 20px !important;
        }
    }

    .pratica-container {
        &::before {
            margin: 33px -35px;
        }
        h2 {
            margin: 10px 40px;
        }
        h3 {
            margin: 15px 0;
        }

    }

        
    .area-pratica {
            
        .txt-destaque {
            margin-top: 0;
            padding: 0 30px 0 80px;
            h2 {
                margin: 0px 0 40px 0px;
                padding-top: 10px;
            }
        }  
        .box-not {
            margin: 0;
            padding: 0 50px !important;
        }

        .leia-mais {
            float: none;
            margin-top: 20px;
            font-size: 20px;
        }
    } 
    
    .noticias-container { 
        &::before {
            margin: 35px -10px; 
        } 
    }
    .noticias {
        .txt-destaque {
            h2 {
                margin-top: 0;
            }
            h3 {
                margin: 0 55px;
            }
        }
    }
    
    #carousel-brief {
        
        .carousel-caption {
            top: 14px;
            
            h3 {
                margin: 0;
                font-size: 16px !important;
            }
            p {
                font-size: 13px !important;
            }

            .brief-content {
                padding: 0;
            }

            .icon-carousel {
                margin-bottom: 20px;
                img {
                    width: 25px;
                }
            }
            .txt-destaque {
                h3 {
                    line-height: 22px;
                }
            }
        }
    }
    
    #img-escritorio-home {
        background-image: url(../../img/escritorio.png);
        min-height: 100%;
        position: relative;
    }
    #parallaxBar {
        height: 190px;

        .txt-parallax {
            left: 20px;
            bottom: 10px;
            
            h3 {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                font-size: 16px;
                margin: 0;
                color: #fff;
                line-height: 20px;
                padding-bottom: 0;
                padding-left: 0;
                font-family: 'Cambria', serif;
            }
        }
    }
}