
@font-face {
    font-family: Cambria; 
    src: local('Cambria'), url ('../fonts/cambria.ttc');
}

.leia-mais {
    display: inline-block;
    background-color: #c8ac48;
    color: #fff;
    font-size: 16px !important;
    padding: 10px 20px;
    margin-top: 80px;
    border: 1px #c8ac48 solid;
    font-family: 'Cambria', serif !important;
    text-decoration: none;
    transition: 0.8s all;
    
    &:hover {
        color: #c8ac48;
        background-color: #fff;
        border: 1px #c8ac48 solid;
        transition: 0.8s all;
        text-decoration: none;
    }
}

.ler-mais {
    display: inline-block;
    color: #fff;
    background-color: #c8ac48;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 25px;
    transition: 0.8s all;
    border: 1px #c8ac48 solid;
    font-family: 'Cambria', serif !important;
    text-decoration: none;
 
    &:hover {
        color: #c8ac48;
        background-color: #fff;
        border: 1px #c8ac48 solid;
        transition: 0.8s all;
    }
}