
footer {
    .col-sm-4 {
        display: none;
    }
    .col-md-3 {
        display: block;
    }
    .line-top {
        border-top: solid 1px #cfcdd3;
        padding-top: 25px;
        position: relative;
        width: 100%;
    }

    .direitos {
        color: #9e9da0;
        display: inline;
        text-align: left;
        vertical-align: middle;
        position: relative; 
        padding: 25px 0;
        bottom: 10px;
    }

    .box-footer {
        margin: 25px 0;
        width: 100%;
        display: inline-flex;

        p{
            color: #636363;
            font-weight: 500;
            line-height: 18px;
            text-align: left !important;
            font-family: 'Cambria Regular';
        }
        .redes-sociais .fab {
            padding:0 8px;
            font-size: 22px;
            color: #636363;
            &:hover {
                color: #c8ac48;
            }

        }
        
        .txt-destaque {
            margin: 0;
            
            &::after {
                width: 40px;
                height: 2px;
                background: #c8ac48;
                margin: 25px 0px;
                display: block;
                content: "";
            }
            h3 {
                display: inline-flex;
                color: #c8ac48;
                font-size: 20px;
                font-weight: 400;
                line-height: 15px;
                            font-family: 'Playfair Display', serif;
            }
        }
    }
}

@media (max-width: 764px) {
    footer {
        .col-md-3 {
            display: none;
        }
        .col-sm-4 {
            display: block;
        }
        .box-footer {
            margin: 25px 0;
            width: 100%;
            display: inline-block;

            .txt-destaque {
                &::after {
                    width: 40px;
                    height: 2px;
                    background: #c8ac48;
                    margin: 10px 20px;
                    display: block;
                    content: "";
                }
                h3 {
                    color: #c8ac48;
                    font-size: 20px;
                    padding: 15px 0px;
                    font-weight: 400;
                    margin: 0px 0 0 20px;
                    line-height: 15px;
                                font-family: 'Playfair Display', serif;
                }
            }
            p {
                padding: 0px 20px;
            }
            .redes-sociais {
                padding: 0 20px;
            }
        }
    }
}
@media (max-width:768px) {
    footer {
        .col-md-3 {
            display: none;
        }
        .col-sm-4 {
            display: block;
        }
    }
}

@media (max-width: 940px) {
    footer { 
        .col-md-3 {
            display: none;
        }
        .col-sm-4 {
            display: block;
        }
        .box-footer {
            margin: 25px 0;
            width: 100%;
            display: inline-block;

            .txt-destaque {
                &::after {
                    width: 40px;
                    height: 2px;
                    background: #c8ac48;
                    margin: 10px 20px;
                    display: block;
                    content: "";
                }
                h3 {
                    color: #c8ac48;
                    font-size: 20px;
                    padding: 15px 0px;
                    font-weight: 400;
                    margin: 0px 0 0 20px;
                    line-height: 15px;
                                font-family: 'Playfair Display', serif;
                }
            }
            p {
                padding: 0px 20px;
            }
            .redes-sociais {
                padding: 0 20px;
            }
        }
    }
}