
.content-pratica  { 
    margin: auto;
    padding: 25px 0;
    text-align: left; 
    background-color: #f7f7f7;
    
    h2 { 
        font-size: 20px;
        padding-top: 10px;
        font-family: 'Cambria Regular';
    }
    
    p{
        color: #9e9da0;
        font-weight: 500;
        font-family: 'Cambria Regular';
        font-size: 16px;
    }

    .box-not { 
        display: inline-block;
        margin: 24px;
        width: 100%;
        
        .icon {
            margin-bottom: 10px;
            float: left;
            padding-right: 20px;
        }  
        h2 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 25px;
            font-weight: lighter; 
            margin-bottom: 20px;
            margin-left: 65px;
            line-height: 40px;
            font-family: "Playfair Display", serif;

            &::before {
                background: #c8ac48;
                width: 45px;
                height: 2px;
                content: "";
                display: block;
                margin: 22px 40px;
                position: absolute;
                left: 73px;
            }
        }
    } 

    .leia-mais {
        float: right;
    }
};

@media (max-width: 764px) {
    .content-pratica {
        .box-not {
            margin: 0;
            text-align: center;
            
            .icon {
                padding-right: 0;
                margin: 25px 0 0;
                float: none;
            }
            h2 {
                font-size: 16px;
                margin-left: 90px;
                &::before {
                    left: 0;
                    margin: 20px 35px;
                }
                p {
                    font-size: 16px;
                    margin: 0 35px;
                    text-align: left;
                }
            }
        }
    }
};