.quem-somos {
    display: block;
    padding: 40px 0;
    .col-lg-6 {
        padding-right: 0;
        padding-left: 0;
    }
    .pic1 { 
        margin-top: 25px;
        padding-left: 0;
        padding-right: 0;
    }
    .pic2 {
        padding-left: 0;
        padding-right: 0;
    }

    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 20px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: 'Playfair Display', serif;

        &::before {
            background: #c8ac48;
            width: 45px;
            height: 1px;
            content: "";
            display: block;
            margin: 18px -30px;
            position: absolute;
        }
        
        h2 {
            font-size: 30px;
            color: #000;
            padding-top: 10px;
            font-family: 'Cambria';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 10px 25px 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    } 
    
    .txt-introduction {
        margin: 0;
        padding: 10px 40px;
        text-align: justify;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria';
        }
    }

    .txt-introduction2 {
        margin: 0;
        padding: 65px 40px;
        text-align: justify;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria';
        }
    }
.guides-title {
    font-size: 18px;
    text-transform: uppercase;
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 30px;
    text-align: center;
    padding: 95px 0;
        box-sizing: border-box; 
        
        .fa {
            display: block;
            font-size: 50px;
            margin-bottom: 25px; 
            margin-bottom: 25px; 
            margin-bottom: 25px; 

        }
    }
}
 
#values {
    text-align: center;

    .txt-destaque {
        text-align: left;

            &::before {
                background: #c8ac48;
                width: 45px;
                height: 1px;
                content: "";
                display: block;
                margin: 18px -30px;
                position: absolute;
            }
        
        h3 {

            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 10px 25px 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }

        p {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria';
        }
    }

    .values-descritions {
        margin: auto;
        padding: 40px 0;
        padding-bottom: 50px;
        background-color: #f7f7f7;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria';
        }
    }
    .values-descritions-bottom {
        margin: auto;
        padding-bottom: 50px;
        background-color: #f7f7f7;


        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria';
        }
    }
    .values-work { 
        text-align: left;
        margin: 30px 0 0;
        
        .img-values {
            margin: 0 10px;
            width: 30%;
        }
        .img-values-bottom {
            width: 15%;
            margin: 0 10px;

            p{
                color: #9e9da0;
                font-weight: 500;
                font-family: 'Cambria';
            }
        }
    }
    .box-not {
        text-align: justify;
        padding: 25px 40px;
    }
    .box-values {
        text-align: justify;
        padding: 10px 0;
    }
}

.txt-destaque {
    text-align: left;
    
    h3 {
        display: inline-flex;
        color: #c8ac48;
        font-size: 20px;
        margin: 0;
        line-height: 15px;
        font-family: 'Playfair Display', serif;

        h2 {
            font-size: 20px;
            color: #000;
            padding-top: 10px;
            font-family: 'Cambria';
        }
    }

    li {
        color: #9e9da0;
        font-weight: 500;
        font-family: 'Cambria';
        font-size: 16px;
        display: contents;
        position: relative;
        padding: 0px 0px 7px 30px;
    }

    
    p{
        color: #9e9da0;
        font-weight: 500;
        font-family: 'Cambria';
    } 
}

.parallax-esc {
    margin: auto;
    padding: 0;
}

#img-escritorio {
    background-image: url(../../img/escritorio.png);
    min-height: 100%;
    position: relative;
    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 30px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: 'Playfair Display', serif;
        margin: 55px 40px 0;
        
        h2 {
            font-size:40px;
            color: #fff;
            padding-top: 10px;
            font-family: 'Cambria';
        }
        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }
};

@media (max-width: 764px) {

    .quem-somos {
        padding: 15px;
        
        .txt-introduction {
            padding: 25px 30px;
        }
    }

    #values {
        margin-top: 25px;

        .value-top {
            &::before {
                margin: 72px 55px;
                left: 60px;
            }
            &::after {
                right: 50px;
            }
            .icon-value-top {
                width: 15%;
            }
            .box-not {
                margin: 25px 15px 0 15px;
            }
        }
    }

};

@media (min-width: 992px) {}

;

@media (min-width: 1200px) {}

;