.page {
    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 30px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: "Playfair Display", serif;
        margin: 55px 40px 0;
        
        h2 {
            font-size:40px;
            color: #fff;
            padding-top: 10px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 35px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }
}
.quem-somos {
    display: block;

    .pic {
        padding-left: 0;
        padding-right: 0;
        max-width: 702px;
    }

    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 20px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: "Playfair Display", serif;

        
        h2 {
            font-size: 30px;
            color: #000;
            padding-top: 10px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }
    
    .txt-introduction {
        padding-right: 25px;
        margin: 20px 0;
        padding:50px 25px;

        p{
            color: #9e9da0;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 18px;
            font-family: 'Cambria Regular';
        }
    }
.guides-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 30px;
    text-align: center;
    padding: 95px 0;
        box-sizing: border-box; 
        
        .fa {
            display: block;
            font-size: 50px;
            margin-bottom: 25px; 
            margin-bottom: 25px; 
            margin-bottom: 25px; 

        }
    }
}

.values {
    text-align: center;
    
    .values-descritions {
        margin: auto;
        padding-bottom: 50px;
        background-color: #f7f7f7;

        p{
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria Regular';
            font-size: 16px;
        }

        ul {
            text-align: center;

            li {
                color: #9e9da0;
                font-weight: 500;
                font-family: 'Cambria Regular';
                font-size: 16px;
                position: relative;
                display: contents;
                padding: 0px 0px 7px 0px;
            }
        }

        .box-not {
            margin: 25px 0px;
        }

    }

    .txt-destaque {
        margin-top: 100px;
        
        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;

            h2 {
                font-size: 20px;
                color: #000;
                padding-top: 10px;
                font-family: 'Cambria Regular';
            }
        }

        li {
            color: #9e9da0;
            font-weight: 500;
            font-family: 'Cambria Regular';
            font-size: 16px;
            display: contents;
            position: relative;
            padding: 0px 0px 7px 30px;
        }

        
        p{
            color: #9e9da0;
            font-weight: 700;
            letter-spacing: 2.5px;
            line-height: 18px;
            font-family: 'Cambria Regular';
        }
    }
}

.lider {
    margin: auto;
    padding: 0;
}

#img-lider {
    background-image: url(./assets/img/equipe.jpg);
    min-height: 100%;
    position: relative;

    
    .txt-destaque {
        display: block;
        color: #c8ac48;
        font-size: 30px;
        margin: 0;
        font-weight: lighter;
        line-height: 15px;
        padding: 15px 15px;
        font-family: "Playfair Display", serif;
        margin: 55px 40px 0;
        
        h2 {
            font-size:40px;
            color: #fff;
            padding-top: 10px;
            font-family: 'Cambria Regular';
        }

        h3 {
            display: inline-flex;
            color: #c8ac48;
            font-size: 20px;
            margin: 0;
            line-height: 15px;
            font-family: 'Playfair Display', serif;
        }
    }

}