ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-family: 'Cambria Regular';
}

h2 {
  font-family: 'Cambria Regular';
}

h3 {
  font-family: 'Playfair Display', serif;
}

h5 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 500;
  font-family: 'Cambria Regular';
}

.navbar {
  padding: 0 !important;
}

.topbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 23px;
  -webkit-box-shadow: 0px 0px 1px 0 #b1b1b1;
          box-shadow: 0px 0px 1px 0 #b1b1b1;
  z-index: 999;
}

.noticias {
  background: #f7f7f7;
  padding: 25px;
}

.noticias .box-news {
  padding: 7.5px;
  margin-right: 0 !important;
  margin-bottom: 25px !important;
}

.noticias h5 {
  color: #636363;
  font-family: 'Playfair Display', serif;
}

.noticias p {
  color: #9e9da0;
  font-weight: 500;
  max-height: 75px;
  letter-spacing: 0;
  line-height: 20px;
}

.noticias .noticia .content-noticia {
  margin-top: 25px;
}

.noticias .data {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias .data .speech-bubble {
  position: absolute;
  width: 60px;
  background: #c8ac48;
  padding: 5px 15px;
  line-height: 21px;
  top: 10px;
  left: 30px;
}

.noticias .data .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #c8ac48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -26.5px;
  margin-bottom: -15px;
}

.noticias .txt-destaque h2 {
  font-size: 30px;
  font-family: 'Cambria Regular';
  margin-bottom: 45px;
}

.noticias .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #c8ac48;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Playfair Display', serif;
}

.noticias .ler-mais {
  display: inline-block;
  background-color: #c8ac48;
  color: #fff;
  font-size: 16px;
  padding: 6px 20px;
  margin-top: 25px;
  border: 1px #c8ac48 solid;
  font-family: 'Cambria';
  text-decoration: none;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.noticias .ler-mais:hover {
  color: #c8ac48;
  background-color: #fff;
  border: 1px #c8ac48 solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

@media (max-width: 764px) {
  .top-nav {
    height: 65px !important;
  }
  .navbar-brand img {
    width: 65%;
  }
  .logo {
    padding: 0;
  }
  .logo img {
    width: 85%;
  }
  .noticias {
    background: #fff;
    margin: 0 15px;
    padding: 25px;
  }
  .noticias .ler-mais {
    display: inline-block;
    color: #fff;
    background-color: #c8ac48;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 35px;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
    text-decoration: none;
  }
  .noticias .mobile-notice {
    margin: 0;
  }
  .noticias .box-news {
    margin-top: 15px;
  }
  .noticias .txt-destaque h2 {
    margin: 10px 0;
  }
  .noticias .txt-destaque h3 {
    margin: 15px 0;
  }
}
/*# sourceMappingURL=noticias.css.map */